<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Insira o nome do filme..."></ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Avatar" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/lksx0cbggjwOcnUJ1G1s9Z5vTY0.jpg" />
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <div>
            <h1>Avatar: O Caminho da Água</h1>
            <p>15/12/2022</p>
            <p>Ficção científica, Ação, Aventura</p>

          </div>
        </ion-label>
        <ion-chip color="success" outline>95%</ion-chip>
      </ion-item>
    </ion-item>
  </ion-list>
</ion-content>